@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


.jualan {
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.page_jualan h2 {
    font-family: 'Potta One', sans-serif;
    color : #ffb3c6;
}

h2 {
    font-family: 'Potta One', sans-serif;
}

.learn_more, .btn_whatshaap {
    background-color: #ffb3c6;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
}

.btn_whatshaap:hover {
    background-color: rgba(255, 179, 198,.8);
    transition: 1s;
}

.card_bacground img {
    width: 300px;
    /* height: 600px; */
}

.card_bacground {
    display: flex;
    justify-content: end;
}

.card_bacground_2 {
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    align-items: center;
}

.about {
    /* background-color: rgba(243, 240, 240, 0.8); */
    width: 100vw;
    padding: 50px;
    border-radius: 0px 50px 0px 50px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(187, 180, 180,.8);
    border: 1px solid rgb(241, 233, 233);
}

.author_jualan {
    line-height: 10px;
    margin: 20px 0 20px 0;
    font-size: 14px;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 3px 5px 5px rgb(236, 226, 226);
    border: 1px solid rgba(241, 227, 227,.5);
    background-color: white;
}

.about button img {
    background-color: #ffb3c6;
    width: 30px;
    height: auto;
    margin-right: 10px;
    box-shadow: 0px 0px 0px rgb(236, 226, 226);
}

.manfaat {
    /* background-image: url('../../aset/bacground\ \(4\).png'); */
    width: 100vw;
    /* background-repeat: no-repeat; */
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.list_manfaat {
    text-align: justify;
}

.list_manfaat .acordion {
    box-shadow: 2px 3px 2px rgb(236, 226, 226);
    border: 1px solid rgba(185, 178, 178, 0.5);
    background-color: white;
    padding: 0;
}

.list_manfaat .acordion p {
    border : none ;
    padding: 0;
}

.list_manfaat .acordion img {
    width: 100px;
    height: 80px;
    margin-right: 20px;
}

.list_manfaat h2{
    text-align: center;
}

.list_manfaat p{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.list_manfaat h2 {
    margin: 10px 0 20px 0;
}

.kandungan_gizi {
    /* background-image: url('../../aset/bacground\ \(4\).png'); */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 100px 0;
    box-sizing: border-box;
    
}

.zat_gizi {
    padding: 10px; 
}

.zat_gizi h2{
    padding: 50px 0 30px 0; 

}

.zat_gizi ul{
   margin-top: 20px;
   text-align: justify;
   background-color: rgba(255, 255, 255,.5);
}

.zat_gizi img {
    width: 300px;
    height: 300px;
    border-radius: 50px 0 50px 0;
}